extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "about_company"

block content
	main.main
		.container
			+b.SECTION.s-category.--mb-50
				+categorySlider

			.breadcrumbs-block
					+breadcrumbs([], 'О компании')

			+b.SECTION.s-company
				.row
					+e.col-nav.col-12.col-lg-3
						+catalogNav()
					+e.col-title.col-12.col-lg-9
						+e.H2.title О компании
						+e.descr.text
							p 
								+e.SPAN.descr-name D&S Fashion 
								| - это не просто место, где можно купить ткань оптом, это место где соединяются новые идеи fashion индустрии  со всего мира и российское производство

					+e.col-text.col-12
						+e.text.text
							+e.text-video
								+b.A.video(href="https://youtu.be/L3pk_TBkihU" target="_blank" data-fancybox)
									+e.IMG.poster(src="img/content/about-company-video-poster.png")
									+e.SPAN.zoom
										+icon('video-play')

								
							p
								b Мы являемся ключевым связующим звеном между идеей дизайнера верхней одежды и одеждой, которую вы производите. 
								| В течение многих лет наша компания поствляет на российский рынок ткани оптом из Китая и не только. Благодаря тому, что у нас есть свои представительства в каждой из стран-производителей, мы имеем возможность поставлять в Россию и СНГ качественные ткани при оптимальной цене. В течение многих лет наша компания поставляет на российский рынок ткани оптом из Китая и не только. Благодаря тому, что у нас есть свои представительства в каждой из стран-производителей, мы имеем возможность поставлять в Россию и СНГ качественные ткани при оптимальной цене. В течение многих лет наша компания поставляет на российский рынок ткани оптом из Китая и не только. Благодаря тому, что у нас есть свои представительства в каждой из стран-производителей, мы имеем возможность поставлять в Россию и СНГ качественные ткани при оптимальной цене. В течение многих лет наша компания поставляет на российский рынок ткани оптом из Китая и не только. 

							p За годы работы мы усовершенствовали механизм поставок тканей и максимально оптимизировали все связанные с этим процессы. Благодаря этому мы можем поставить ткани в кратчайшие сроки, от 10 дней. За непродолжительный период нам уже доверяют сотни производителей, как надежному поставщику.

							p В течение многих лет наша компания поставляет на российский рынок ткани оптом из Китая и не только. Благодаря тому, что у нас есть свои представительства в каждой из стран-производителей, мы имеем возможность поставлять в Россию и СНГ качественные ткани при оптимальной цене. В течение многих лет наша компания поставляет на российский рынок ткани оптом из Китая и не только. 					


			+sectionOrder()

			+sectionUsefulInf()

			+sectionWhyUs()
