extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Main page"

block content
	main.main
		.container
			+b.SECTION.s-category
				+categorySlider

			+b.SECTION.s-company
				+e.top
					.row
						.col-12.col-lg-3
							+catalogNav
						.col-12.col-lg-1
						.col-12.col-lg-8
							+e.H2.title О компании
							+e.descr.text
								p 
									+e.SPAN.descr-name D&S Fashion 
									| - это не просто место, где можно купить ткань оптом, это место где соединяются новые идеи fashion индустрии  со всего мира и российское производство

				+e.text.text
					p
						b Мы являемся ключевым связующим звеном между идеей дизайнера верхней одежды и одеждой, которую вы производите. 
						| В течение многих лет наша компания поставляет на российский рынок ткани оптом из Китая и не только. Благодаря тому, что у нас есть свои представительства в каждой из стран-производителей, мы имеем возможность поставлять в Россию и СНГ качественные ткани при оптимальной цене. В течение многих лет наша компания поставляет на российский рынок ткани оптом из Китая и не только. Благодаря тому, что у нас есть свои представительства в каждой из стран-производителей, мы имеем возможность поставлять в Россию и СНГ качественные ткани при оптимальной цене. 
					p
						b За годы работы мы усовершенствовали механизм поставок тканей и максимально оптимизировали все связанные с этим процессы. 
						| Благодаря этому мы можем поставить ткани в кратчайшие сроки, от 10 дней. За непродолжительный период нам уже доверяют сотни производителей, как надежному поставщику. 
						a(href="#") Подробнее »


			+b.SECTION.s-new-coollection
				+e.top
					+e.top-row.row
						+e.top-col-title.col-auto
							+dualTitle('h2', 'Новая', 'коллекция', '--theme-white-black')
							
						+e.top-col-controls.col-auto
							+buttonRedL('Подробнее', 'a')(href="#")


				+e.items
					+e.items-row.row
						+e.items-col.col-12.col-lg-3
							+catalogListingItem('168133', 'img/content/catalog-item-0.jpg')

						+e.items-col.col-12.col-lg-3
							+catalogListingItem('15876', 'img/content/catalog-item-1.jpg')

						+e.items-col.col-12.col-lg-3
							+catalogListingItem('15865', 'img/content/catalog-item-2.jpg')

						+e.items-col.col-12.col-lg-3
							+catalogListingItem('168126', 'img/content/catalog-item-3.jpg')


			+b.SECTION.s-trends
				+e.top
					+dualTitle('h2', 'Модные', 'тренды', '--theme-white-black')
				
				+e.items
					+e.items-row.row
						+e.items-col.col-12.col-lg-6
							+trendsListingItem(
								'Экокожа', 
								'Мы являемся ключевым связующим звеном между идеей дизайнера верхней одежды и одеждой, которую вы производите. В течение многих лет наша компания поставляет на российский рынок ткани оптом из Китая и не только.',
								'img/content/trends-item-0.jpg', 
								'555',
								'315'
							)

						+e.items-col.col-12.col-lg-6
							+trendsListingItem(
								'Твидовые пиджаки', 
								'Благодаря тому, что у нас есть свои представительства в каждой из стран-производителей, мы имеем возможность поставлять в Россию и СНГ качественные ткани при оптимальной цене.',
								'img/content/trends-item-1.jpg', 
								'555',
								'315'
							)

			+b.SECTION.s-order
				+e.top
					+dualTitle('h2', 'Оставьте ', 'заявку', '--theme-white-black')
				+e.text-1.text
					p
						b Не теряйте время в поисках, 
						| просто оставьте заявку и мы поможем вам в выборе!

				+e.form
					form.js-validate(action="#" autocomplete="off")
						+e.form-row.row
							+e.form-col.--field.col-12.col-lg-4
								label.input-text
									input.input-text__field(type="text" name="Name")
									span.input-text__placeholder Ваше имя

							+e.form-col.--field.col-12.col-lg-4
								label.input-text
									input.input-text__field(type="tel" name="tel" required="")
									span.input-text__placeholder 
										| Телефон 
										i.imp-sign *

							+e.form-col.--submit.col-12.col-lg-4
								+buttonRedL('Отправить', 'button', 'l')(type="submit")

							+e.form-col.--agree.col-12.col-lg-4
								+e.form-agree
									span.checkbox-wrap
										label.checkbox
											input.checkbox__input(type="checkbox" name="Согласие на обработку данных" value="Да" checked="" required="" data-parsley-error-message="Нужно согласие на обработку данных" data-parsley-multiple="Согласие на обработку данных")
											i.checkbox__icon
											span.checkbox__text
												| Принимаю 
												a(href="#").link.link--theme-red политику конфиденциальности

							+e.form-col.col-12.col-lg-4
								+e.SPAN.form-required-mesage
									i.imp-sign * 
									| — обязательно для заполнения
	


			+b.SECTION.s-useful-inf
				+e.top
					+dualTitle('h2', 'Модные', 'тренды', '--theme-white-black')
				
				+e.items
					+e.items-row.row
						+e.items-col.col-12.col-lg-4
							+articleListingItem(
								'Как правильно выбрать ткань для мужской демисезонtной куртки: лучшие советы', 
								'img/content/article-item-0.jpg', 
								'360',
								'270'
							)

						+e.items-col.col-12.col-lg-4
							+articleListingItem(
								'Как правильно выбрать ткань для мужской демисезонtной куртки: лучшие советы', 
								'img/content/article-item-1.jpg', 
								'360',
								'270'
							)

						+e.items-col.col-12.col-lg-4
							+articleListingItem(
								'Как правильно выбрать ткань для мужской демисезонtной куртки: лучшие советы', 
								'img/content/article-item-2.jpg', 
								'360',
								'270'
							)




			+b.SECTION.s-why-us
				+e.top
					+dualTitle('h2', 'Почему', 'мы', '--theme-white-black')
				
				+e.text.text
					p В течение многих лет наша компания поставляет на российский рынок ткани оптом из Китая и не только. Благодаря тому, что у нас есть свои представительства в каждой из стран-производителей, мы имеем возможность поставлять в Россию и СНГ качественные ткани при оптимальной цене. За годы работы мы усовершенствовали механизм поставок тканей и максимально оптимизировали все связанные с этим процессы. Благодаря этому мы можем поставить ткани в кротчайшие сроки, от 10 дней. За непродолжительный период нам уже доверяют сотни производителей, как надежному поставщику.
					p Мы не только поставляем ткани, но и разрабатываем коллекцию, соблюдая текущий и будущий тренд в моде. К каждому клиенту мы подходим индивидуально, и профессионально решаем их задачи в кратчайшие сроки.
					p Мы не только поставляем ткани, но и разрабатываем коллекцию, соблюдая текущий и будущий тренд в моде. К каждому клиенту мы подходим индивидуально, и профессионально решаем их задачи в кратчайшие сроки.В течение многих лет наша компания поставляет на российский рынок ткани оптом из Китая и не только. 
					p Благодаря тому, что у нас есть свои представительства в каждой из стран-производителей, мы имеем возможность поставлять в Россию и СНГ качественные ткани при оптимальной цене. За годы работы мы усовершенствовали механизм поставок тканей и максимально оптимизировали все связанные с этим процессы. Благодаря этому мы можем поставить ткани в кротчайшие сроки, от 10 дней. За непродолжительный период нам уже доверяют сотни производителей, как надежному поставщику.

