extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "profile"
	- const bodyClass = "body--bg-top-small"

block content
	main.main.main--pt-40
		+b.p-def
			.container
				.breadcrumbs-block
					+breadcrumbs([], 'Личный кабинет')

				+b.page-title
					+e.H1.__text Личный кабинет

				+b.SECTION.profile
					+e.sec.--inf
						+e.sec-title Информация о клиенте
					
						+e.form
							form.js-validate(action="#" autocomplete="off")
								+e.form-row.row
									+e.form-col.--field.col-12.col-lg-4
										label.input-text.input-text--label
											span.input-text__label 
												| Имя 
											input.input-text__field(type="text" name="Name" required="" value="Иванов Иван")

									+e.form-col.--field.col-12.col-lg-4
										label.input-text.input-text--label
											span.input-text__label 
												| E-mail  
											input.input-text__field(type="email" name="email" required="" value="Ivan@ivanov12.ru")

									+e.form-col.--field.col-12.col-lg-4
										label.input-text.input-text--label
											span.input-text__label 
												| Телефон 
											input.input-text__field(type="tel" name="tel" required="" value="+ 7 (903) 123-11-22")

									+e.form-col.--field.col-12.col-lg-4
										label.input-text.input-text--label
											span.input-text__label 
												| Название организации 
											input.input-text__field(type="text" name="org" value="ООО «Сатин»")

									+e.form-col.--field.col-12.col-lg-5
										label.input-text.input-text--label
											span.input-text__label 
												| Адрес 
											input.input-text__field(type="text" name="address" value="г. Москва, ул., Тверская, д. 135, стр. 3")

									+e.form-col.--field.col-12.col-lg-3
										label.input-text.input-text--label
											span.input-text__label 
												| ИНН 
											input.input-text__field(type="text" name="inn" value="")


									+e.form-col.--submit.col-12.col-lg-12
										+buttonRedL('Сохранить', 'button', 'l')(type="submit")

					+e.sec.--password
						+e.sec-title Изменение пароля
					
						+e.form
							form.js-validate(action="#" autocomplete="off")
								+e.form-row.row
									+e.form-col.--field.col-12.col-lg-4
										label.input-text.input-text--label
											span.input-text__label 
												| Старый пароль
											input.input-text__field(type="password" name="old_password" required="" data-parsley-required-message="Пожалуйста введите старый пароль")

									+e.form-col.--field.col-12.col-lg-4
										label.input-text.input-text--label
											span.input-text__label 
												| Новый пароль
											input.input-text__field(type="password" id="profile_new_password" name="new_password" required="" data-parsley-required-message="Пожалуйста введите новый пароль")

									+e.form-col.--field.col-12.col-lg-4
										label.input-text.input-text--label
											span.input-text__label 
												| Повторите новый пароль
											input.input-text__field(type="password" id="profile_repeat_new_password" name="repeat_new_password" required="" data-parsley-equalto="#profile_new_password" data-parsley-required-message="Пароли должны совпадать")

									+e.form-col.--submit.col-12.col-lg-12
										+buttonRedL('Изменить', 'button', 'l')(type="submit")

										

				+sectionInf()

				+sectionWhyUs()
