+b.FOOTER.footer
	.container
		+e.inner
			+e.row.row
				+e.col-1.col-auto
					+e.logo
						+b.A.footer-logo(href="#")
							+e.inner
								+e.IMG.img(src="/img/logo.png")
					
					+e.links-box
						+b.footer-links
							+e.item
								+e.A.link(href="#") Пользовательское соглашение
							+e.item
								+e.A.link(href="#") Политика конфиденциальности

					+e.dev
						+b.footer-dev
							+e.A.logo(href="https://palexweb.ru/")
								+e.logo-inner
									+e.IMG.logo-img(src="/img/dev-logo.png")

							+e.bottom
								+e.A.link(href="#") Создание и продвижение сайтов
				
				+e.col-2.col-auto
					+e.nav-1
						+b.footer-nav
							+e.title Информация
							+e.UL.list
								+e.LI.item
									+e.A.link(href="#") О компании
								+e.LI.item
									+e.A.link(href="#") Новости
								+e.LI.item
									+e.A.link(href="#") Модные тренды
								+e.LI.item
									+e.A.link(href="#") Новая коллекция
								+e.LI.item
									+e.A.link(href="#") Контакты

					+e.user-link
						+user-link

				+e.col-3.col-auto
					+e.nav-2
						+b.footer-nav
							+e.title Женская коллекция
							+e.UL.list
								+e.LI.item
									+e.A.link(href="#") Плащевые ткани
								+e.LI.item
									+e.A.link(href="#") Пальтовые ткани
								+e.LI.item
									+e.A.link(href="#") Подкладочная ткань
								+e.LI.item
									+e.A.link(href="#") Мех
								+e.LI.item
									+e.A.link(href="#") Дубленка
								+e.LI.item
									+e.A.link(href="#") Для отделки

					+e.nav-3
						+b.footer-nav
							+e.title Мужская коллекция
							+e.UL.list
								+e.LI.item
									+e.A.link(href="#") Плащевые ткани
								+e.LI.item
									+e.A.link(href="#") Пальтовые ткани
								+e.LI.item
									+e.A.link(href="#") Подкладочная ткань
								+e.LI.item
									+e.A.link(href="#") Мех
								+e.LI.item
									+e.A.link(href="#") Дубленка
								+e.LI.item
									+e.A.link(href="#") Для отделки

				+e.col-4.col-auto
					+e.nav-4
					+b.footer-nav
						+e.title Фурнитура
						+e.UL.list
							+e.LI.item
								+e.A.link(href="#") Молнии
							+e.LI.item
								+e.A.link(href="#") Пулеры, слайдеры
							+e.LI.item
								+e.A.link(href="#") Кнопки
							+e.LI.item
								+e.A.link(href="#") Пуговицы
							+e.LI.item
								+e.A.link(href="#") Шнуры
							+e.LI.item
								+e.A.link(href="#") Фиксаторы
							+e.LI.item
								+e.A.link(href="#") Концевики
							+e.LI.item
								+e.A.link(href="#") Броши
							+e.LI.item
								+e.A.link(href="#") Рамки
							+e.LI.item
								+e.A.link(href="#") Пряжки
							+e.LI.item
								+e.A.link(href="#") Застежки
							+e.LI.item
								+e.A.link(href="#") Цепи-вешалки
							+e.LI.item
								+e.A.link(href="#") Шевроны
							+e.LI.item
								+e.A.link(href="#") Разное

				+e.col-5.col-auto
					+e.inf-box
						+b.footer-mail
							+e.SPAN.text Пишите нам
							+e.A.link(href="mailto:info@dsfashion.ru") info@dsfashion.ru
						
					+e.inf-box
						+b.footer-callback
							+e.A.number(href="tel:+74955553535") + 7 (495) 555-35-35
							+e.A.popup.js-popup(href="#popup-callback") Заказать обратный звонок

					+e.inf-box
						+b.footer-address
							+e.SPAN.text-1 Наш адрес
							+e.SPAN.text-2 г. Москва, ул. 1-я Дубровская, д. 13, оф. 3

					+e.inf-box
						+b.footer-schedule
							+e.SPAN.text-1 Режим работы
							+e.SPAN.text-2 с 10:00 до 20:00

					+e.order-btn
						+buttonYellow('Оставить заявку').footer__order-btn.js-popup(href="#popup-order")

span.back-to-top Вверх
