mixin headerLogo()
	+b.A.header-logo(href="#")&attributes(attributes)
		+e.inner
			+e.IMG.img(src="/img/logo.png")

mixin headerEmail()
	+b.header-mail&attributes(attributes)
		+e.SPAN.text&attributes(attributes) Пишите нам
		+e.A.link(href="mailto:info@dsfashion.ru")&attributes(attributes) info@dsfashion.ru

mixin headerCallback()
	+b.header-callback
		+e.A.number(href="tel:+74955553535") + 7 (495) 555-35-35
		+e.A.popup.js-popup(href="#popup-callback") Заказать обратный звонок

mixin headerCallbackMobile()
	+b.header-callback.--mobile-menu
		+e.A.number(href="tel:+74955553535").--mobile-menu + 7 (495) 555-35-35
		+e.A.popup.--mobile-menu.js-popup(href="#popup-callback") Заказать обратный звонок

mixin header-nav()
	+b.NAV.header-nav&attributes(attributes)
		+e.UL.list
			+e.LI.item
				+e.A.link(href="#") О компании
			+e.LI.item
				+e.A.link(href="#") Новости
			+e.LI.item
				+e.A.link(href="#") Модные тренды
			+e.LI.item
				+e.A.link(href="#") Новая коллекция
			+e.LI.item
				+e.A.link(href="#") Контакты

mixin header-search()
	.header-seacrh&attributes(attributes)
		form(action="/search" autocomplete="off")
			input.input-text.header-seacrh__input(type="search" name="q" placeholder="Поиск")
			button.header-seacrh__submit(type="submit")
				i.header-seacrh__submit-icon
					+icon('search')

mixin mobile-menu()
	+b.NAV.mobile-menu&attributes(attributes)
		+e.content
			+e.content-inner
				+e.content-container.container
					+e.logo
						+headerLogo()
					+e.nav
						+header-nav()
					+e.catalog-nav
						+catalogNav()
					+e.email
						+headerEmail().--mobile-menu
					+e.callback
						+headerCallbackMobile
					+e.user-link
						+user-link.--mobile-menu
					+e.order-btn
						+buttonYellow('Оставить заявку', 'a').header__order-btn.js-popup(href="#popup-order")


		+e.BUTTON.trigger.js-mobile-menu-trigger(type="button" name="trigger")
			+e.SPAN.trigger-icon
				+e.I.trigger-icon-line.--first
				+e.I.trigger-icon-line.--second
				+e.I.trigger-icon-line.--third

	
+b.HEADER.header
	.container
		+e.top
			+e.top-row.row
				+e.top-col-logo.col-auto
					+headerLogo()

				+e.top-col-hr.col-auto
					+e.SPAN.top-hr
				+e.top-col-title.col-auto
					+b.H1.header-title
						+e.SPAN.span Ткани 
						|  для верхней одежды

				+e.top-col-hr.col-auto
					+e.SPAN.top-hr
				+e.top-col-email.col-auto
					+headerEmail()
					
				+e.top-col-hr.col-auto
					+e.SPAN.top-hr
				+e.top-col-callback.col-auto
					+headerCallback

				+e.top-col-hr.col-auto
					+e.SPAN.top-hr
				+e.top-col-last.col-auto
					+e.top-user-link
						+user-link
					+e.top-order-btn
						+buttonYellow('Оставить заявку', 'a').header__order-btn.js-popup(href="#popup-order")


		+e.nav-line
			+e.nav-line-row.row
				+e.nav-line-col-nav.col-auto
					+header-nav

				+e.nav-line-col-search.col-auto
					+header-search
				
				+e.nav-line-col-mobile-menu.col-auto
					+mobile-menu
					