extends layouts/default
include helpers/mixins

block variables
	- const title = "Sitemap"
	- const bodyClass = "body--main-page"

block content
	main.main
		.container
			ul.ui-sitemap
				li
					a(href="main-page.html") main-page
				li
					a(href="catalog_inner.html") catalog_inner
				li
					a(href="catalog_items.html") catalog_items
				li
					a(href="catalog_level1.html") catalog_level1
				li
					a(href="catalog_level2_accessories.html") catalog_level2_accessories
				li
					a(href="catalog_level2_man.html") catalog_level2_man
				li
					a(href="catalog_level2_woman.html") catalog_level2_woman
				li
					a(href="catalog_level3.html") catalog_level3
				li
					a(href="catalog_level4.html") catalog_level4
				li
					a(href="registration.html") registration
				li
					a(href="authorization.html") authorization
				li
					a(href="profile.html") profile
				li
					a(href="new_collection_unregistered.html") new_collection_unregistered
				li
					a(href="new_collection_registered.html") new_collection_registered
				li
					a(href="404_error.html") 404_error				
				li
					a(href="about_company.html") about_company				
				li
					a(href="articles.html") articles				
				li
					a(href="contacts.html") contacts				
				li
					a(href="ui.html") UI элементы
			




