mixin buttonYellow(text, tag)
    +b(tag || 'button').btn.btn--geom-def.btn--theme-yellow&attributes(attributes)= text

mixin buttonYellowL(text, tag)
    +b(tag || 'button').btn.btn--geom-l.btn--theme-yellow&attributes(attributes)= text

mixin buttonRed(text, tag)
    +b(tag || 'button').btn.btn--geom-def.btn--theme-red&attributes(attributes)= text

mixin buttonRedL(text, tag)
    +b(tag || 'button').btn.btn--geom-l.btn--theme-red&attributes(attributes)= text


