.s-category {
    margin: 0 0 100px;
}

.s-company {
    @extend .border-dashed-red;
    margin: 0 0 100px;
    padding: 0 0 100px;

    &__top {
        margin: 0 0 55px;
    }
    &__title {
        display: block;
        margin: 0 0 45px;
        text-transform: uppercase;
        font-family: $ffOswald;
        font-size: 52px;
        font-weight: 300;
        line-height: 1.25;
        color: #fff;
    }

    &__descr {
       
        display: block;
        margin: 0 0 45px;
        font-family: $ffPlayfairDisplay;
        font-size: 23px;
        font-weight: 700;
        font-style: italic;
        line-height: calc(33/23);
        color: #000;

        &-name {
            font-size: 37px;
        }
    }
}

.s-new-coollection {
    @extend .border-dashed-red;
    margin: 0 0 100px;
    padding: 0 0 100px;

    &__top {
        @include rule(margin-bottom, (xs: 40px, lg: 60px));
        
        &-row {
            flex-wrap: nowrap;
            align-items: center;
            @include rule(flex-direction, (xs: column, md: row));
            @include rule(justify-content, (xs: center, md: space-between));
        }

        &-col-title {
            @include rule(margin-bottom, (xs: 20px, md: 0px));
        }
    }

    &__items {
        &-row {
            margin-top: -30px;
        }

        &-col {
            padding-top: 30px;
        }
    }
}

.s-trends {
    margin: 0 0 100px; 
    padding: 0;

    &__top {
        @include rule(margin-bottom, (xs: 40px, lg: 60px));
    }

    &__items {
        &-row {
            margin-top: -30px;
        }

        &-col {
            padding-top: 30px;
        }
    }


}


.s-order {
    margin: 0 0 100px; 
    padding: 0 0 100px;
    color: #000;
    @extend .border-dashed-red; 

    &__top {
        @include rule(margin-bottom, (xs: 40px, lg: 60px));
    }

    &__text-1 {
        display: block;
        margin: 0 0 27px;
        font-size: 18px;
    }

    &__form {      
        &-row {
            margin-top: -25px;
        }

        &-col {
            padding-top: 25px;
        }
        
        &-agree {
            font-size: 13px;
        }
        &-required-mesage {
            font-size: 12px;
        }
    }

}



.s-useful-inf {
    margin: 0 0 100px; 
    padding: 0;

    &__top {
        @include rule(margin-bottom, (xs: 40px, lg: 60px));
    }

    &__items {
        &-row {
            margin-top: -30px;
        }

        &-col {
            padding-top: 30px;
        }
    }


}

.s-why-us {
    margin: 0; 
    padding: 0;

    &__top {
        @include rule(margin-bottom, (xs: 40px, lg: 60px));
    }

    &__text {
        font-size: 18px;
        columns: 2;
        column-gap: 30px;
    }

}