// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-catalog-nav-accessories-name: 'icon-catalog-nav-accessories';
$icon-catalog-nav-accessories-x: 133px;
$icon-catalog-nav-accessories-y: 45px;
$icon-catalog-nav-accessories-offset-x: -133px;
$icon-catalog-nav-accessories-offset-y: -45px;
$icon-catalog-nav-accessories-width: 35px;
$icon-catalog-nav-accessories-height: 40px;
$icon-catalog-nav-accessories-total-width: 204px;
$icon-catalog-nav-accessories-total-height: 128px;
$icon-catalog-nav-accessories-image: '../img/sprite/sprite.png';
$icon-catalog-nav-accessories: (133px, 45px, -133px, -45px, 35px, 40px, 204px, 128px, '../img/sprite/sprite.png', 'icon-catalog-nav-accessories', );
$icon-catalog-nav-man-name: 'icon-catalog-nav-man';
$icon-catalog-nav-man-x: 174px;
$icon-catalog-nav-man-y: 0px;
$icon-catalog-nav-man-offset-x: -174px;
$icon-catalog-nav-man-offset-y: 0px;
$icon-catalog-nav-man-width: 30px;
$icon-catalog-nav-man-height: 40px;
$icon-catalog-nav-man-total-width: 204px;
$icon-catalog-nav-man-total-height: 128px;
$icon-catalog-nav-man-image: '../img/sprite/sprite.png';
$icon-catalog-nav-man: (174px, 0px, -174px, 0px, 30px, 40px, 204px, 128px, '../img/sprite/sprite.png', 'icon-catalog-nav-man', );
$icon-catalog-nav-woman-name: 'icon-catalog-nav-woman';
$icon-catalog-nav-woman-x: 133px;
$icon-catalog-nav-woman-y: 0px;
$icon-catalog-nav-woman-offset-x: -133px;
$icon-catalog-nav-woman-offset-y: 0px;
$icon-catalog-nav-woman-width: 36px;
$icon-catalog-nav-woman-height: 40px;
$icon-catalog-nav-woman-total-width: 204px;
$icon-catalog-nav-woman-total-height: 128px;
$icon-catalog-nav-woman-image: '../img/sprite/sprite.png';
$icon-catalog-nav-woman: (133px, 0px, -133px, 0px, 36px, 40px, 204px, 128px, '../img/sprite/sprite.png', 'icon-catalog-nav-woman', );
$icon-info-name: 'icon-info';
$icon-info-x: 0px;
$icon-info-y: 0px;
$icon-info-offset-x: 0px;
$icon-info-offset-y: 0px;
$icon-info-width: 128px;
$icon-info-height: 128px;
$icon-info-total-width: 204px;
$icon-info-total-height: 128px;
$icon-info-image: '../img/sprite/sprite.png';
$icon-info: (0px, 0px, 0px, 0px, 128px, 128px, 204px, 128px, '../img/sprite/sprite.png', 'icon-info', );
$spritesheet-width: 204px;
$spritesheet-height: 128px;
$spritesheet-image: '../img/sprite/sprite.png';
$spritesheet-sprites: ($icon-catalog-nav-accessories, $icon-catalog-nav-man, $icon-catalog-nav-woman, $icon-info, );
$spritesheet: (204px, 128px, '../img/sprite/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
