$rem: 20;
$ffRoboto: 'Roboto', sans-serif;
$ffOswald: 'Oswald', sans-serif;
$ffPlayfairDisplay: 'Playfair Display', serif;

$color1: #670c0d;
$color2: #f0b647;
$color3: #c58932;
$color4: #DCDCDC;
$color5: #8e0000;
$color6: #940c04;

$breakpoints: (
  'xl': 1200px,
  'lg': 992px,
  'md': 768px,
  'sm': 576px,
  'xs': 320px
);